.container{
    display: flex;
    flex-flow: row wrap; 
    align-content: flex-start;
    gap: 3em 3em;
    padding: 7px 2.5% 7px 12.5%;

    justify-self: center;
 
}



.box-container{
    width: 255px;
    height: 210px;
    border: 2.5px solid black;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 200px;
}

.delete-checkbox{
    position: relative;
    left: -44%
}


@media screen and (min-width: 700px) and ( max-width: 1030px){
    .container{
        padding: 7px 1.5% 7px 15.5%;
    }

    
}

@media screen and (max-width: 700px){
    .container{
        padding: 7px 23.5vw 7px 23.5vw ;
    }
    
}


