/*h1{
    display: inline-block;
    text-align: center;
}

.header-buttons{
    display: inline-block;
    justify-self: right;
    align-self: center;
}*/

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: flex-start;
    align-items: center;
    column-gap: 4vw;
    row-gap: 5vh;
    /*padding-left: 7%; */
    padding: 7px 6vw 7px 6vw;
    padding-bottom: 7px;
    justify-self: center;
    /*justify-self: center;
    align-self: center;*/
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 200px;
    border: 0.15em solid black;
}

.delete-checkbox{
    position: relative;
    left: -40%;
    top: 5%;
}

/*
check that this works tomorrow
label input[type=checkbox]{
    border-color: grey;
}*/

