:root{
    --box-container-width: 255px;
    --gap-width: 
    --boxes-can-fit: calc(100% // var(--box-container-width));
    --space-for-gap: calc(100% - (var(--box-container-width)*var(--boxes-can-fit)));
    --num-gaps: calc(var(--space-for-gap)//);

}
.container{
    
    display: flex;
    flex-flow: row wrap; 
    align-content: flex-start;
    gap: 3em;
    margin-block: 7px;
    margin-inline: auto;

 
}

.box-container{
    display: inline-block;
    width: 255px;
    height: 210px;
    border: 2.5px solid black;

}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 245px;
    height: 180px;
    margin-inline: auto;
}



@media screen and (min-width: 770px) and ( max-width: 915px){
    .container{
        padding: 7px 1.5% 7px 15.5% ;
    }

    
}

@media screen and ( (max-width: 770px) ){
    .container{
        padding: 7px 0.5% 7px 20.5% ;
    }
    
}

    



